
<div class="ui-table">
  <table>
  <!-- table header -->
  <thead>
    <tr>
      <th class="w-40px">
        <UiCheckbox :options="checkAllSetting.options"  v-model:value="checkAllSetting.value" @changeValue="onChangeCheckAll" class="ml-6px mr-6px"></UiCheckbox>
      </th> 
      <!-- head data -->
      <th v-for="(item, index) in head" class="text-left">
      <!-- type 1 : normal txtx -->
        <p v-if="!item.hasOwnProperty('options')" class="txt text-xs" :class="headTheme">{{item.txt}}</p>

      <!-- end of type1 -->

      <!-- type2: select filter  -->
        <ul v-else>
          <UiMultiSelect
            class="w-full"
            :defaultSelectedValue="filterSelectedVal[index]"
            :optionArr="item.options" 
            :required="true"
            :showCheckIcon="true"
            @onClickCheck="onClickFilter($event, item.id)"
            :name="'tableH_'+index"
            :hasAllOption="true"
            :placeholder="item.txt"
            customizePlaceholderClass=" text-font-2 text-xs"
          ></UiMultiSelect> 
        </ul>

      <!-- end of type2 -->
      </th>
    </tr>
  </thead>
  <!-- end of table header -->
  <tbody v-if="privateDatas.length > 0">
    
    <tr  v-for="(data, index) in privateDatas" :key="'datas-'+index+ updateKey" class=" odd:bg-grey-f4 even:bg-white" >
      <!-- checkbox -->
      <td class="check-content text-center align-middle">
        <UiCheckbox class="ml-6px mr-6px" :options="data.options" v-model:value="data.checkVal"  @changeValue="onChangeCheckDetail($event, data.id)" margin="0"></UiCheckbox>
      </td>

      <!-- data -->
      <td class="align-middle text-center" v-for="detail in data.detail" :key="'detail-' + index" @click.prevent="onClickItem(data.id)" :class="{'cursor-pointer':isItemClick}">
        <!-- type1 : normal txt -->
        <p  v-if="detail.type == 'default'" class="txt">{{detail.txt}}</p>
        <!-- end of type1  -->


        <!-- type2: dot style text -->
        <p v-else class="txt style--status" :class="detail.type.split(':')[1] == 1 ? 'normal': 'active'">{{detail.txt}}</p>
        <!-- end of type2 -->
      </td>
    </tr>
  </tbody>
  <tbody v-else>
    <tr class="bg-white">
      <td :colspan="isHasCheck ? head.length + 1 : head.length " class="text-center color-ff">{{emptyText}}</td>
    </tr>
  </tbody>
  </table>
</div>

