<div class="ui-table" :class="[{'style--has-check': isHasCheck}]">
  <table class="table-fixed border-separate border-spacing-0 flex flex-col h-full w-full">
    <!-- table header -->
    <thead class="flex-0 w-full">
      <tr class="">
        <th class="w-40px " v-if="isHasCheck">
          <UiCheckbox v-if="isHasCheckAll" :options="checkAllSetting.options" v-model:value="checkAllSetting.value"
            @changeValue="onChangeCheckAll" class="ml-6px mr-6px"></UiCheckbox>
        </th>
        <!-- head data -->
        <th v-for="(item, index) in head" class="text-left"
        :style="colWd != 'auto' ? tdWdStyle(index) : ''">
          <!-- type 1 : normal txtx -->
          <p v-if="!item.hasOwnProperty('options')" class="txt text-xs whitespace-normal break-words"
            :class="headTheme">{{item.txt}}</p>

          <!-- end of type1 -->

          <!-- type2: select filter  -->
          <ul v-else>
            <UiMultiSelect v-if="item.options.length" class="w-full" :defaultSelectedValue="headFilterVal[index]" :optionArr="item.options"
              
              :required="true" :showCheckIcon="true" @onClickCheck="onClickFilter($event, item.id)"
              :name="'tableH_'+index" :hasAllOption="true" :placeholder="item.txt"
              customizePlaceholderClass=" text-font-2 text-xs"></UiMultiSelect>
          </ul>

          <!-- end of type2 -->
        </th>
        <!-- <th v-if="moreOption.length > 0" class="w-[36px]"></th> -->
      </tr>
    </thead>
    <!-- end of table header -->
    <tbody v-if="datas.length > 0" class="overflow-y-auto w-full h-full flex-1 block">

      <tr v-for="(data, index) in datas" :key="'datas-'+index+ updateKey"
        class="group  odd:bg-grey-f4 even:bg-white " 
        :class="[activeStyle(data.id),  highlightStyle(data),  {'cursor-pointer':isItemClick}, {'[&>td]:active:bg-root-hoverBlue': isItemClick},  {'[&>td]:bg-root-hoverBlue': (isInitSelectedIndex == index) && isItemClick}]">
        <!-- checkbox -->
        <td v-if="isHasCheck" class="td-style w-40px check-content text-center align-middle" >
          <!-- todo error -->
          <UiCheckbox v-if="data.options" class="ml-5px mr-6px" :options="data.options" v-model:value="data.checkVal"
            @changeValue="onChangeCheckDetail($event, data.id)" margin="0"></UiCheckbox>
        </td>

        <!-- data -->
        <td class="td-style align-middle text-center" v-for="(detail, dIndex) in data.detail" :key="'detail-' + index"
          @click.prevent="onClickItem(data)"
          :class="[{'cursor-pointer':isItemClick} , {'pointer-events-none':!isItemClick}, {'first:group-hover:border-l-12px': isHasCheck}]"
          :style="colWd != 'auto' ? tdWdStyle(dIndex) : ''">
          <template v-if="isEdit && detail.hasOwnProperty('edit')">
            <template v-if="detail.edit === 'input' ">
              <ui-input @onChange="onChangeInput($event, index, dIndex, data.id)" class="pr-[12px]" type="text" v-model:value="detail.txt"></ui-input>
            </template>
            <template v-if="detail.edit === 'select' ">
              <ui-select class="w-full pr-[12px]" v-model:defaultSelectedValue="detail.selectId"
                :style="optionWd != 'auto' ? optionWdStyle(dIndex) : ''"
                :optionArr="dataOptions[dIndex]" :showCheckIcon="true" @onValChange="onSelectItem(detail, index, dIndex, data.id)"
                ></ui-select>
            </template>
          </template>
          <template v-else>
            <!-- type1 : normal txt -->
            <template v-if="detail.type == 'default'">
              <template v-if="typeof detail.txt == 'string'">
                <p class="txt whitespace-normal break-words flex items-center" >
                  {{detail.txt}}
                  <span v-if="detail.hasOwnProperty('hint')"
                  class="mt-[6px] txt whitespace-normal break-words text-font-2 text-xs">
                      <UiHint
                      class="space ml-[3px]"
                      trigger="hover"
                      placement="bottom"
                      :content="detail.hint">
                      <template #reference
                        ><Icon
                          class="h-18px w-18px text-main bg-text-red-500"
                          iconClass="hint-hover"
                          type="svg"
                        ></Icon
                      ></template>
                      </UiHint>
                  </span>
                </p>
                <p v-if="detail.hasOwnProperty('sub')"
                  class="mt-[6px] txt whitespace-normal break-words text-font-2 text-xs">{{detail.sub}}</p>
              </template>
              <template v-else>
                <template  v-for="(txtItem, index) in detail.txt" :key="index">
                  <p class="txt truncate" >{{txtItem}}</p>
                  <template v-if="detail.hasOwnProperty('sub')" >
                    <p  class="mt-[2px] txt  truncate text-font-2 text-xs">{{detail.sub[index]}}</p>
                  </template>
                </template>
              </template>
              
               
            </template>
            <!-- end of type1  -->
            <!-- type2: dot style text -->
            <template v-else>
              <p v-if="typeof detail.txt == 'string'" class="txt style--status whitespace-normal break-words"
              :class="detail.type.split(':')[1] == 1 ? 'normal': 'active'">{{detail.txt}}</p>
              <template v-else>
                <p v-for="(txtItem, itemIndex) in detail.txt" :key="itemIndex + updateKey" class="txt style--status truncate"
                :class="detail.type.split(':')[itemIndex+1] == 1 ? 'normal': 'active'">{{txtItem}}</p>
              </template>
            </template>
            <!-- end of type2 -->
          </template>

        </td>
        <td v-if="moreOption.length > 0" class=" td-style text-center relative">
          <Icon
            class="text-black w-24px h-24px grow-0 shrink-0 flex items-center cursor-pointer pointer-events-auto relative z-20 "
            iconClass="icon-more-v" type="svg" @click.prevent="onClickMore(data.id)"></Icon>
          <ul class="absolute w-[192px] flex flex-wrap right-0 top-[70%] z-30 shadow-lg border-r-[6px]"
            v-if="isMoreOpenArr[index].isOpen">
            <li v-for="more in moreOption"
              class="w-full bg-white border-box pt-[6px] pr-12px min-h-[32px] z-20 inline-block hover:bg-root-hoverBlue">
              <a href="javascript:;" @click.prevent="onClickMoreItem(data.id,more.id)"
                class="inline-block align-middle w-full">{{more.text}}</a>
            </li>
          </ul>
        </td>
      </tr>
    </tbody>
    <tbody v-else>
      <tr class="bg-white">
        <td :colspan="isHasCheck ? head.length + 1 : head.length "
          class="text-center color-ff whitespace-normal break-words">{{emptyText}}</td>
      </tr>
    </tbody>
  </table>
</div>