$space-table-content: 20px;
$size-dot: 14px;
$dot-y: 3px;

.ui-table {
    &.style--has-check{
        th{
            &:first-of-type{
                text-align: center;
            }
        }//end: th
    } //end: style--has-check
    
    
    .td-style{
        @apply first:group-hover:border-l-2px box-border;
    
    }
    table{
        width: 100%;
        thead, tbody tr{
            @apply table table-fixed
        }
    }
    th, td{
        padding: $space-table-content 5px $space-table-content 5px;
        // text-align: left;
    }
    th{
        vertical-align: middle;
        // @apply sticky;
        .txt{
            
        }
    }//end: th
    tbody{
        tr{
            @apply w-full;
            &:hover{
                td {
                    @apply first:border-main first:rounded-tl-[8px] first:rounded-bl-[8px];
                    @apply last:border-main last:rounded-tr-[8px] last:rounded-br-[8px];
                    @apply border-main;
                } //end: td
            }
            // &:nth-child(odd){
            //     background-color: $color-grey-light;
            //     border: none;

            // }
        }
        td{
            @apply first:border-l-2px first:border-transparent ;
            @apply last:border-r-2px last:border-transparent;
            @apply border-t-2px border-b-2px border-transparent;
            .txt{
                text-align: left;
                margin: 0;
                padding: 0;
                // position: relative;
                &.style--status{
                    padding-left: $size-dot + 8px;
                    position: relative;
                    &::before, &::after{
                        content: '';
                        display: inline-block;
                        width: $size-dot;
                        height: $size-dot;
                        border-radius: 50%;
                        position: absolute;
                        left: 0;
                        top: $dot-y;
                    }
                    &:after{
                        width: $size-dot * 0.7;
                        height: $size-dot * 0.7;
                        top: $dot-y + ( $size-dot * 0.7) / 4;
                        left: ( $size-dot * 0.7) / 4;
                    }

                }//end: style--status
                &.normal{
                    &::before{
                        background-color: $color-normal-light;
                       
                    }
                    &:after{
                        background-color: $color-normal;
                    }
                }
                &.active{
                    &::before{
                        background-color: $color-focus-light;
                    }
                    &:after{
                        background-color: $color-focus;
                    }
                }
            }//end: txt
        }

    }//end: tbody
    .check-content{
        text-align: center;
    }

}