$primary: #0e80eb;
$info: #505050;
$success: #09b63d;
$success_opacity: #09b63d14;
$warn: #f57b29;
$danger: #ec3437;
$boder: #f0f0f0;
$shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
$code_bg: #f7f7f7;

$color-fff :#ffffff;
$color-main :#006ce1;
$color-main-hover :#0051a8;
$color-main-pressed :#003a7a;
$color-main-disable-1 :#b3b3b3;
$color-main-disable-2 :#d1d1d1;

$checkbox-main :#010101;
$input-main :#666666;