.calendar {
  background-image: url('../assets/icon/calendar.png');
}
.card-blue2 {
  background-image: url('../assets/icon/card-blue2.png');
}
.card-dark-blue2 {
  background-image: url('../assets/icon/card-dark-blue2.png');
}
.card-dark-blue1 {
  background-image: url('../assets/icon/card-dark-blue1.png');
}
.card-green1 {
  background-image: url('../assets/icon/card-green1.png');
}
.card-green2 {
  background-image: url('../assets/icon/card-green2.png');
}
.dashboard-card-blue1 {
  background-image: url('../assets/icon/dashboard-card-blue1.png');
}
.icon-check-box-h {
  background-image: url('../assets/icon/icon-check-box-h.png');
}
.icon-check-box-n {
  background-image: url('../assets/icon/icon-check-box-n.png');
}
.icon-check-box-p {
  background-image: url('../assets/icon/icon-check-box-p.png');
}
.icon-check-box {
  background-image: url('../assets/icon/icon-check-box.png');
}
.manergement-abnormal-machine {
  background-image: url('../assets/icon/manergement-abnormal-machine.png');
}
.manergement-devicelist {
  background-image: url('../assets/icon/manergement-devicelist.png');
}
.manergement-eventlist {
  background-image: url('../assets/icon/manergement-eventlist.png');
}
.manergement-eventtrash {
  background-image: url('../assets/icon/manergement-eventtrash.png');
}
.manergement-gatewaymanagement {
  background-image: url('../assets/icon/manergement-gatewaymanagement.png');
}
.manergement-modelmanagement {
  background-image: url('../assets/icon/manergement-modelmanagement.png');
}
.manergement-rulesettings {
  background-image: url('../assets/icon/manergement-rulesettings.png');
}
.manergement-sensor-overview {
  background-image: url('../assets/icon/manergement-sensor-overview.png');
}
.navigatuion-drawer {
  background-image: url('../assets/icon/navigatuion-drawer.png');
}
.rectangle-9163 {
  background-image: url('../assets/icon/rectangle-9163.png');
}
.toggle-unselect-d {
  background-image: url('../assets/icon/toggle-unselect-d.png');
}
.toggle-unselect-h {
  background-image: url('../assets/icon/toggle-unselect-h.png');
}
.toggle-unselect-n {
  background-image: url('../assets/icon/toggle-unselect-n.png');
}
.toggle-unselect-p {
  background-image: url('../assets/icon/toggle-unselect-p.png');
}
.user-icon {
  background-image: url('../assets/icon/user-icon.png');
}
