//select style init
.v-select {
    .vs__dropdown-toggle {
        @apply border-grey-66 border bg-white overflow-hidden ;
        &:hover{
            @apply border-root-dark;
        }
        &:active{
            @apply border-root-darkMore;
        }
    }
    // .vs__dropdown-toggle
    .vs__selected-options {
        @apply px-4px
       
    }
    .vs__search{
        &::placeholder{
            @apply text-grey-4c;
        }
    }
    .vs__dropdown-option{
        @apply px-12px;
        &:hover{
            @apply text-black bg-root-hoverBlue;;
        }
        
    }
    

    .vs__dropdown-option--highlight {
        @apply text-black ;
    }
    .vs__dropdown-option--highlight:active {
        @apply text-black ;
    }
    .vs__dropdown-option--disabled {
        @apply  bg-white text-grey-b3;
        &:hover{
            @apply bg-white text-grey-b3;
        }
    }
    .vs__dropdown-option--selected{ //待確認 被選 + hover 效果
        @apply text-main bg-white;
    }
    .vs__dropdown-option--selected & .vs__dropdown-option--highlight  {
        @apply text-main bg-white;
    }
    
    .vs__actions {
        @apply  overflow-hidden ;
        .vs__open-indicator {
            svg {
                @apply  w-24px h-24px ;
            }
        }
        // 下拉按鈕
        // .vs__open-indicator {
        //     fill: black;
        // }
    }
}


//checkbox的custom樣式
.multiSelect {
    .vs--disabled {
        .vs__dropdown-toggle,
        .vs__clear,
        .vs__search,
        .vs__selected,
        .vs__open-indicator {
            cursor: not-allowed;
            pointer-events: none;
        }
    }
    
    .v-select {
        .vs__dropdown-toggle {
            @apply border-none ;
            background-color: white;
        }
        .vs__dropdown-option--highlight {
            @apply text-white bg-root-dark;
            button{
                @apply border-root-light;
            }
        }
        .vs__dropdown-option--highlight:active {
            @apply text-white bg-root-darkMore;
        }
        .vs__dropdown-option--disabled {
            @apply  bg-white text-grey-b3;
            &:hover{    
                @apply  bg-white text-grey-b3;   
            }
        }
        .vs__dropdown-option--selected{ //待確認 被選 + hover 效果
            @apply text-main bg-white;
        }
        .vs__dropdown-option--selected & .vs__dropdown-option--highlight  {
            // @apply text-white bg-root-dark;
            @apply text-main bg-white;
            button{
                @apply border-main;
            }
        }
        .vs__dropdown-option{
            @apply py-8px px-12px;

        }
        .vs__selected-options {
            @apply relative;
            span {
                @apply hidden;
            }
        }
        .vs__dropdown-menu{
            @apply border-none ;
            @apply top-[41px]
        }
    }
}


//valid
.validError {
    &.v-select{
        .vs__dropdown-toggle {
            @apply border-error-FF0000;
    }
  }
}


.vs__search::-webkit-search-decoration,
.vs__search::-webkit-search-cancel-button,
.vs__search::-webkit-search-results-button,
.vs__search::-webkit-search-results-decoration,
.vs__search::-ms-clear {
display: none;
}


//disable

.v-select {
    @apply  bg-white ;
    &.vs--disabled {
        @apply  bg-white pointer-events-none;
        .vs__selected{
            @apply text-grey-b3;
        }
        .vs__dropdown-toggle,
        .vs__clear,
        .vs__search,
        .vs__selected,
        // todo 
        .vs__open-indicator {
            @apply  bg-white ;
        }
        .vs__dropdown-toggle {
            @apply  bg-white  border-grey-b3;
            &:hover{
                @apply bg-white  border-grey-b3;
            }
            &:active{
                @apply bg-white  border-grey-b3;
            }
            .vs__selected-options{
                input{
                    &::placeholder{
                        @apply  text-grey-b3;
                    }
                }
            }
            .vs__actions{
                .vs__open-indicator{
                    @apply  text-grey-b3;
                }
            }
            
        }
        
        .vs__dropdown-option{
            &:hover{
                @apply bg-white  border-grey-b3;
            }
            
        }
    }
    
}




