$color-main: green;


/**
1. color 
2. font-size
3. screen-size
*/
@import '../helper/function';



$font-family:'Roboto', '微軟正黑體';
$font-family-sub: 'Roboto', '微軟正黑體';
// $font-family: Myriad W08 Regular,Segoe UI,Arial,Microsoft JhengHei,Microsoft Yahei,SF Pro TC,SF Pro Text,PingFang TC,sans-serif, '微軟正黑體';
// 1. color
// 1-1. project color
$color-main: #006ce1;
$color-main-light: #dee5ec;
$color-main-deep: #003a7a;
$color-main-dark: #0051a8;
$color-main-darkMore: #003a7a;
$color-main-inputHighLight: #9ef;

$color-bg : #fff;

$color-normal: #64dd9f; // green;
$color-normal-light: rgba(123, 255, 187, 0.3); 
$color-focus: #fc3a3a;
$color-focus-light: rgba(252, 152, 152, 0.5);

// 1-2. general color
$color-white: #fff;
$color-black: #000;

// 1-3. grey
$color-grey-light: #f4f4f4; // phm table bg
$color-grey-light-md: #909090; // phm table head
$color-grey-light2: #666666;
$color-grey-light3: #4c4c4c; 
$color-grey-light4: #b3b3b3; 
$color-disable : #b3b3b3;
// ----




//specifical color
$color-error: #FF330B;





// 02. font 
$base: 16;
$font-size-content-max:   (60 / $base) * 1rem; // 60px
$font-size-content-mlg:   (40 / $base) * 1rem; // 40px
$font-size-content-lg:   (20 / $base) * 1rem; // 20px
$font-size-content-md:   (16 / $base) * 1rem; // 16px
$font-size-h2:   (36 / $base) * 1rem; // 36px
$font-size-h3:   (32 / $base) * 1rem; // 32px
$font-size-h4:   (28 / $base) * 1rem; // 28px
$font-size-h6:   (24 / $base) * 1rem; // 24px
$font-size-h6-5: (20 / $base) * 1rem; // 20px
$font-size-h7:   (18 / $base) * 1rem; // 18px
$font-size-h8:   (16 / $base) * 1rem; // 16px
$font-size-h8-1: (15 / $base) * 1rem; // 15px
$font-size-h9:   (14 / $base) * 1rem; // 14px
$font-size-h10-1:  (13 / $base) * 1rem; // 12px
$font-size-h10:  (12 / $base) * 1rem; // 12px
$font-size-normal: (15 / $base) * 1rem; // 15px

$form-font-size-text: $font-size-h8; //一般表單文字大小


// 03 screen size

$screen-size:(
    lg-than-pc: 1441px,
    pc: 1440px,
    sm-than-pc: 1399px,
    lg-than-nb: 1367px,
    nb: 1366px,
    sm-than-nb: 1365px,
    sm-than-nb-xs: 1300px,
    lg-than-desktop: 1201px,
    desktop: 1200px,
    sm-than-desktop: 1199px,
    lg-than-pad-h: 1025px,
    pad-h: 1024px,
    sm-than-pad-h: 1023px,
    lg-than-pad-v: 769px,
    pad-v: 768px,
    sm-than-pad-v: 767px,
    lg-than-mobile: 376px,
    mobile: 375px,
    sm-than-mobile: 374px,
);


// radius

$radius-default: 18px;
$radius-form: 4px;
$radius-md: 8px;
$radius-sm: 4px;
$radius-xs: 2px;


$zIndex:(
    options: 40, //下拉選單的options
    loading: 1002, // loading
    msg-block: 1001, // msg section (global msg)
    modal: 999, //modal
    modal-conetent: 1000, //modal content
    profilebox: 41, // use in header profile detail
    flash-msg: 1003,
);


//rwd config
$max-width: 1128px;



//rwd break point

$mainBoard : 1200px;
$mainBoardPaddingLeft : 24px;
$mainBoardPaddingRight : 2px;
$mainLittleBoardPadding : 20px;
$scrollBarWidth : 4px;