<div class="ui-modal" :class="{'active':isOpen}">
  <div class="modal-all-block"
    :class="[styleClass, {'style--no-btn': !btnCancel.hasOwnProperty('text') && !btnConfirm.hasOwnProperty('text')}]">
    <div class="mask"></div>
    <div class="modal-block">
      <div class="title-block" v-if="title || subTitle">
        <div class="title-detail">
          <h3 class="title-main">{{title}}</h3>
          <h6 class="title-sub">{{subTitle}}</h6>
        </div>
        <!-- TBD IF nees cross -->
        <!-- <a href="javascript:;" class="icon-block" v-if="isHasClose" @click="onClickCancel">
          <iCon class="icon-cancel" iconClass="click"></iCon>
        </a> -->
      </div>
      <!-- <div class="img-block" v-if="imgLink">
        <img :src="require(`@/assets/images/${imgLink}`)" alt="">
      </div> -->
      <div class="content-block">
        <template v-if="!content">
          <div class="content-detail">

          </div>
          <slot></slot>
        </template>
        <template v-else>
          <p class="text" v-html="content"></p>
        </template>
      </div>
      <div class="btm-block" v-if=" btnCancel.hasOwnProperty('text') || btnConfirm.hasOwnProperty('text')">
        <div class="btn-block">
          <ui-button  v-if="btnCancel.hasOwnProperty('text') " borderRadius=""  class=" btn-inline w-btn-normal "  :class="{'mx-auto': btnNum !=0}" customizeH="btn-h-normal" :text="btnCancel.text"
            :disable="btnCancel.disable" :type="btnCancel.type"
             @onClick="clickCancel"></ui-button>
          <ui-button  v-if="btnConfirm.hasOwnProperty('text') "  borderRadius="" class=" btn-inline w-btn-normal " :class="{'mx-auto': btnNum !=0}" customizeH="btn-h-normal" :text="btnConfirm.text"
            :disable="btnConfirm.disable" :type="btnConfirm.type"
             @onClick="clickConfirm"></ui-button>
            <div class="verifyFalse" v-if="isVerify">{{isVerify}}</div>
        </div>
      </div>
    </div>
  </div>
</div>