$wd-config:(
    default: 498px,
    lg: 960px,
    sm: 511px,
);

$modal-config:(
    titleMain: $font-size-h8,
    titleSub: $font-size-h9,

);

$space-config:(
    none: 0,
    md: 24px,
    default: 28px,
    xmd: 36px,
);
//title min height
$title-config:(
  default: 56px,
  md: 60px,
);


$max-height-modal: 89vh; //670px;
$color-modal-bg: $color-white; //modal 背景色
$size-cancel: 24px; //cancel btn


$align-config: left, center, right;
.ui-modal {
    transform:scale(0);
    transition: transform .5s;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: map-get($zIndex, modal);
    left: 0;
    top: 0;
    overflow: hidden;
    //animation
    animation: quickScaleDown 0s .5s linear forwards;
    .mask{
        animation: quickScaleDown .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
    }
    .modal-block{
        animation: quickScaleDown .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
    }//end: modal
    
    &.active{
        transition: none;
        transform:scale(1);
        animation: fadeIn .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
        .modal-block{
            animation: fadeIn .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
            
        }
        .mask{
            // animation: scaleForward .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
        }
    }
    


    //end: of animation
    

    .modal-all-block{
        text-align: center;
        // mask
        .mask{
            position: fixed;
            
            width: 100vw;
            height: 100vh;
            display: inline-block;
            z-index: map-get($zIndex, modal);
            background-color: rgba(0,0,0,0.3);
            left: 0;
            right: 0;
            top: 0;
        }

        // modal
        .modal-block{
            // min-width: map-get($wd-config, lg);
            z-index: map-get($zIndex, modal-conetent);
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            top: 52px;
            background-color: $color-modal-bg;
            width: 100%;
            display: inline-block;
            border-radius: $radius-md;
            box-shadow: 0px 4px 12px 0 rgba(0, 0, 0, 0.5);
            max-height: $max-height-modal; //RWD TO BE MODIFY
            display: flex;
            flex-direction: column;
            .title-block{
                background-color: $color-main;
                flex-shrink: 0;
                flex-grow: 0;
                line-height: normal;
                padding: 8px 24px;
                box-sizing: border-box;
                border-radius:  $radius-md $radius-md 0 0;
                position: relative;
                display: flex;
                flex-grow: 1;
                justify-content: space-between;
                align-items: center;
                .title-main{
                    color: $color-white;
                    text-align: center;
                    font-size: map-get($modal-config, titleMain);
                    margin-bottom: 0;
                } // title-main
                .title-sub{
                    font-size: map-get($modal-config, titleSub);
                    color: $color-white;
                    line-height: 1.3;
                    margin: 0;
                }
                .icon-block{
                  display: inline-block;
                  width: $size-cancel;
                  height: $size-cancel;
                  color: $color-white;
                  .icon-cancel{
                    width: 100%;
                  }
                }

            } //end: title

            .img-block{
                background-color: $color-modal-bg;
                flex-shrink: 0;
                flex-grow: 0;
                max-width: 100%;
                img{
                    width: auto;
                    max-width: 100%;
                    display: inline-block;
                }
            }

            .content-block{
                // animation:blowUpContent .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
                overflow-y: auto;
                box-sizing: border-box;
                padding: 28px 0 24px 0;
                background-color: $color-modal-bg;
                max-width: 100%;
                display: inline-block;
                // min-height: 400px; // 最小高
            }// end: content

            .btm-block{
                background-color: $color-modal-bg;
                flex-shrink: 0;
                flex-grow: 0;
                border-radius: 0 0 $radius-md $radius-md;

            }// end: btm
            .btn-block{
                box-sizing: border-box;
                padding: 18px 24px;
                text-align: center;
                justify-content: center;
                .wd--auto{
                    + .wd--auto{
                        margin-left: 0;
                    }
                }
                .verifyFalse{
                  vertical-align: middle;
                  padding: 6px 10px;
                  color: $color-error;
                }
                
            }
        } // end: modal-block

        &.style--no-btn{
          
          .content-block{
            border-radius: 0 0 $radius-md $radius-md;
          }
        } //end: style--no-btn



        //wd
        @each $key, $val in $wd-config{
            &.wd--#{$key}{
                .modal-block{
                    max-width: $val;
                    .btm-block, .title-block, .content-block{
                      width: $val;
                    }
                }
            }
        } //end: each

        // min h
        &.min-h--md{
          .modal-block{
            .content-block{
              min-height: 300px;
            }//end: content-block
          }//end: modal-block
        }//end: md


        //btn align, title align 
        
        @each $val in $align-config{
            &.btn--align-#{$val}{
                .btn-block{
                    text-align: $val;

                }
                
                
            }
            &.btn--align-right{
              .btn-block{
                justify-content: flex-end;
              }
              &.style--has-slot-btn{
                .btn-block{
                  justify-content: space-between
                }

              }
            }
            &.btn--align-left{
              .btn-block{
                justify-content: flex-start;
              }
              &.style--has-slot-btn{
                .btn-block{
                  flex-direction: row-reverse;
                  justify-content: space-between;
                }
              }
            }
            &.title--align-#{$val}{
                .title-block{
                    text-align: $val;
                }
                @if($val == 'center'){
                  .title-block{
                    justify-content: center;
                    
                    .title-detail{
                      padding: 0 10px;
                    } //end: title-detail
                    .icon-block{
                      position: absolute;
                      top: 13px;
                      right: 12px;
                    }//icon-block
                  } //title-block
                }//if
            }//
        }
        //end: btn-align, title
        .btn-block{
          .btn-inline {
              + .btn-inline{
                margin-left: 24px;
              }
          }
      } //btn=block
        


        // content space
         // space top down
        @each $key, $val in $space-config{
          &.space--content-#{$key}{
            .content-block{
              padding-left: $val;
              padding-right: $val;
            }
          }
          &.space--content-td-#{$key}{
            .content-block{
              padding-top: $val;
              padding-bottom: $val;
            }
          }
        } //end: each 


        // btn arrange
        &.btn--arrange-top-down{
          .btn-block{
              padding-bottom: 36px;
              .btn-inline {
                  + .btn-inline{
                    margin-left: 0;
                    margin-top: 24px;
                  }
              }
          } //btn=block
        }

        

        &.btn--arrange-reverse{
          .btn-block{
            flex-direction: row-reverse;
            display: flex;
            width: 100%;
            .btn-inline{
              + .btn-inline{
                  margin-left: 0;
                  margin-right: 20px;
              }
            }
          }
        }

        // title sm height
        @each $key, $val in $title-config{
          &.h--title-#{$key}{
            .title-block{
              min-height: $val;
            }
          }
        }



    } //end: modal-all-block

}


@media(max-width: map-get($screen-size, pc)){
  .ui-modal .modal-all-block .modal-block{
    top: 1vh;
  }
}

@media(max-width: map-get($wd-config, lg)){
  .ui-modal .modal-all-block .modal-block{
    overflow: auto;
    max-height: 90vh;
    // max-height: unset;
    
    .content-block{
      max-width: unset;
    }
  }
}

/**
&.four {
    z-index:0;
    transform:scale(1);
    .modal-background {
      background:rgba(0,0,0,.7);
      .modal {
        animation: blowUpModal .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
      }
    }
    + .content {
      z-index:1;
      animation:blowUpContent .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
    }
    &.out {
      .modal-background {
        .modal {
          animation: blowUpModalTwo .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
        }
      }
      + .content {
        animation: blowUpContentTwo .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
      }
    }
  }
**/

